#principal{
	width: 522px;
	padding: 12px;
	background: #e08e24;
	border-radius: 20px;
	margin: auto;
	border: 4px solid #6d2400;
}
img{
	width: 60px;
	height:60px;
}
#productos, #carrito{
	margin: 10px auto;
	background: #fff2a9;
	border-radius: 20px;
	padding: 8px;
	float: left;
}
#carrito{
	width: 300px;
	background: #e08e24;
	padding: 10px;
	min-height: 200px;
}
table, h1{
	text-align: center;
	color: #6d2400;
}
th{
	background: #e08e24;
	color: #6d2400;
}
#pie{
	clear: both;
}